<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head th:replace="components/admin-header :: header">
    <title>Dashboard</title>
</head>
<body class="g-sidenav-show">
<div th:replace="manager/components/navbar :: navbar"></div>
<div th:fragment="content" class="main-content" id="panel">
    <div class="container-fluid pt-3">
        <div class="card mb-4">
            <div class="card-header pb-0">
                <h6>Hotel Details</h6>
            </div>
            <div class="card-body px-0 pt-0 pb-2">
                <div>
                    <h2 th:text="${hotel.name}">Hotel Name</h2>
                    <p th:text="'Stars: ' + ${hotel.rating}">Stars</p>
                    <p th:text="${hotel.description}">Description</p>
                    <img th:src="${hotel.image}" alt="Hotel Image" width="200"/>
                </div>
                <a th:href="@{/manager/home}" class="btn btn-secondary mt-3">Back to Manager Home</a>
            </div>
        </div>
    </div>
</div>

<script src="https://demos.creative-tim.com/soft-ui-dashboard/assets/js/core/popper.min.js"></script>
<script src="https://demos.creative-tim.com/soft-ui-dashboard/assets/js/core/bootstrap.min.js"></script>
<script src="https://demos.creative-tim.com/soft-ui-dashboard/assets/js/plugins/chartjs.min.js"></script>
<script src="https://demos.creative-tim.com/soft-ui-dashboard/assets/js/plugins/Chart.extension.js"></script>
<script src="https://demos.creative-tim.com/soft-ui-dashboard/assets/js/soft-ui-dashboard.min.js?v=1.0.2"></script>
<script th:src="@{/js/loopple/loopple.js}"></script>
</body>
</html>
