<!-- Navbar & Hero Start -->
<nav xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6" class="navbar navbar-expand-lg navbar-light px-4 px-lg-5 py-3 py-lg-0">
    <a href="" class="navbar-brand p-0">
        <h1 class="text-primary m-0"><i class="fa fa-map-marker-alt me-3"></i>Tourist</h1>
        <!-- <img src="img/logo.png" alt="Logo"> -->
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
        <span class="fa fa-bars"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav ms-auto py-0">
            <a href="/" class="nav-item nav-link">Home</a>
            <a href="/booking" class="nav-item nav-link">Booking</a>
        </div>
        <div sec:authorize="isAuthenticated()">
            <form th:action="@{/logout}" method="post">
                <input type="submit" class="btn btn-primary rounded-pill py-2 px-4" value="Sign Out"/>
            </form>
        </div>
        <a sec:authorize="!isAuthenticated()" href="/signup" class="btn btn-primary rounded-pill py-2 px-4">Register</a>
        <a sec:authorize="!isAuthenticated()" href="/login" class="btn btn-primary rounded-pill py-2 px-4">Login</a>
    </div>
</nav>
<!-- Navbar & Hero End -->